p{margin:0;padding:0;}
h3{margin:15px 0 0 15px;}
.post{
    height: 100px;
    width: 205px;
    background-color: yellow;
    border: 2px solid orange;
    margin:5px;
    padding: 7px;
    display: inline-block;
    font-size: 0.8em;
    position: relative;
}
.post h3{
    margin:2px;
    display: inline-flex;
    position: absolute;
    left: 2px;
    top:2px;
}
.post form.delete{
    position: absolute;
    right: 2px;
    top:2px;
}
.post textarea{
    position: absolute;
    left:7px;
    top:25px;
    overflow: auto;
}
